@keyframes sliding {
    from {
        transform: translate(-800px);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
